packages/web/node_modules
packages/web/tests
packages/web/coverage
packages/web/.storybook
packages/web/.next
packages/web/__tests__
packages/web/__mocks__
packages/web/.cypress

packages/admin/build
packages/admin/node_modules

packages/api/node_modules
packages/api/test

node_modules
cypress
coverage