.devcontainer
.git
.github
.vscode
.nycoutput
.all-contributorsrc
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.nycrc
.travis.yml
CODE_OF_CONDUCT.md
CONTRIBUTING.md
cypress.json
*Dockerfile*
*docker-compose*

coverage/
cypress/
**/node_modules/

packages/api/
packages/admin/